.login-container {
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
}

.form-group input,
.form-group button {
  width: calc(100% - 22px); /* Resta 22px para compensar el padding */
  padding: 10px;
  margin-bottom: 10px; /* Añadido para un espaciado uniforme entre los elementos */
  border: 1px solid #ccc;
  border-radius: 3px;
}

.form-group button {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.form-group button:hover {
  background-color: #0056b3;
}
